#uploader-area {
    border: 10px dashed #999;
    text-align: center;
    color: #999;
    font-size: 20px;
    line-height: 300px;
    cursor: pointer;
}

#uploader-area.dragover {
    background: rgba(255, 255, 255, 0.4);
    border-color: green;
}

.img-container, .img-preview {
    overflow: hidden;
    text-align: center;
    width: 100%;
}

// Fileinput
// CSS for file upload button and fileinput widget
// ------------------------------------------------

.btn-file {
    overflow: hidden;
    position: relative;
    vertical-align: middle;
    > input {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        opacity: 0;
        filter: alpha(opacity=0);
        font-size: 23px;
        height: 100%;
        width: 100%;
        direction: ltr;
        cursor: pointer;

        &::-webkit-file-upload-button {
            cursor: pointer;
        }
    }
}

.fileinput-exists .fileinput-new,
.fileinput-new .fileinput-exists {
    display: none;
}

.fileinput-remove {
    cursor: pointer;
}

//close X button alignment
.fileinput-exists.close {
    float: none;
}

.fileinput-filename {
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 65%;
}

.form-control .fileinput-filename {
    vertical-align: bottom;
    white-space: nowrap;
    width: 100%;
    max-width: 100%;
    position: absolute;
    left: 0;
    padding-left: 30px;
}

// Not 100% correct, but helps in typical use case
.fileinput-new.input-group .btn-file,
.fileinput-new .input-group .btn-file {
    border-radius: 0 4px 4px 0;

    &.btn-xs,
    &.btn-xs {
        border-radius: 0 3px 3px 0;
    }
    &.btn-lg {
        border-radius: 0 6px 6px 0;
    }
}

// Input group fixes

.input-group-addon:not(:first-child) {
    border-left: 0;
}

